/* Importaciones */

/* Variables */

/* Estilos generales */
form label{
    display: block;
    margin: 10px 0 0;
}

form input{
    display: block;
    padding:5px 25px;
}


/* Header */

/* Nav */

/* Main */

/* Carrousel */

/* Frase-Motivadora */

/* Cursos */

/* Info */

/* FAQ */

/* Mapa */

/* Footer */
