/* Importaciones */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
/* Variables */

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url("../../images/fondo.png");
  background-attachment: fixed;
  background-size: cover;
  /* background: #fbfbfb;
    display: flex;
	align-items: center;
	justify-content: center;
	 */
}

img {
  max-width: 100%;
}

/* stylo formulario*/

.contenedor-form .form-title {
  text-align: center;
}
.contenedor-form .cont-form {
  backdrop-filter: blur(5px);
  width: 98%;
  max-width: 659px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 30px;
  border-radius: 3px;
  backdrop-filter: blur(5px);
}
.contenedor-form .form-label {
  display: block;
  position: relative;
}
.contenedor-form .cont-form .form-label {
  font-size: 20px;
}
.contenedor-form .cont-form .form-input,
.form-textarea {
  border: none;
  outline: none;
  border-bottom: 3px solid orange;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  background: white;
}
.contenedor-form .cont-form .form-textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
  border-radius: 2px;
}
.contenedor-form .cont-form .btn-submit {
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.contenedor-form .cont-form .btn-submit {
  background: #f6be7b;
}
.contenedor-form .cont-form .btn-submit:hover {
  background: #ed8f03;
}

/* stylo formulario*/

/* Header */

/* Nav */
/* 
.navbar {
  position: fixed;
  left: 0;
  padding: 0;
}
*/
section[id]:before {
  display: block;
  height: 128px;   /* equal to the header height */
  margin-top: -128px;  /* negative margin equal to the header height */
  visibility: hidden;
  content: "";
}
nav {
  display: flex;
  width: 100%;
  z-index: 2;
  transition: background-color 0.5s;
  justify-content: end;


}
.gradientBlue{
  background: #ffb75e;
  background: -webkit-linear-gradient(to left, #4d9fd6 , #ffb75e);
  background: linear-gradient(to left, #4d9fd6 , #f6be7b);
}
.titulo {
  font-family: "Anton", sans-serif;
  padding-left: 7px;
}
.menu {
  font-family: "Roboto Condensed", sans-serif;
}
@media (max-width: 768px) {
  .iconos {
    display: none;
  }
  .titulo {
    margin-right: 50px;
  }

  .menu{
    margin-left: 10px;
  }
}

.itg:hover {
  color: rgb(195, 62, 126);
}
.fb:hover {
  color: rgb(21, 26, 167);
}
.wsp:hover {
  color: rgb(35, 140, 45);
}

/* Main */

/* Carrousel */

@keyframes slidy {
  0% { left: 0%; }
  10% { left: 0%; }
  20% { left: -100%; }
  30% { left: -100%; }
  40% { left: -200%; }
  50% { left: -200%; }
  60% { left: -300%; }
  70% { left: -300%; }
  80% { left: -400%; }
  100% { left: -400%; }
  }
  
  body { margin: 0; } 
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 26s slidy infinite; 
  }
/* Frase-Motivadora */

/* Cursos */

.cursos-title {
  text-align: center;
  padding-top: 50px;
}

/* FAQ */
#faq {
  max-width: 650px;
  margin: auto;
}

.faq-title {
  text-align: center;
}

/* Mapa */

#mapa {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1.5rem;
}

#mapa div {
  width: 48%;
  border-radius: 1rem;
}

#mapa div:last-child {
  background-color:   rgb(77, 159, 214, 0.7);
  text-align: center;
  padding-top: 6rem;
}
#mapa h3 {
  font-size: 2rem;
}
#mapa ul {
  list-style: none;
  font-size: 1.2rem;
}

#mapa iframe {
  border-radius: 1rem;
}

@media (max-width: 768px) {
  #mapa {
    flex-direction: column-reverse;
  }
  #mapa div {
    width: 100%;
    border-radius: 1rem;
  }
  #mapa div:first-child {
    margin-top: 1rem;
  }
  #mapa div:last-child {
    padding: 0;
  }
}


/* Footer */
/* .container__xxl {
    /* position: absolute;
    bottom: 0;
    width: 100%; */

.terminos p {
  color: rgb(38, 44, 49);
  font-weight: 600;
}

footer {
  font-weight: 700;
  width: 100%;
  padding: 10px 0px;
  position: absolute;
  background: transparent;
  background: rgba(205, 203, 203, 0.4);
}
/* Ancho en pantallas grandes. */
@media (min-width: 1200px) {
  footer {
    width: 100%;
  }
}

.box__footer a {
  margin-top: 10px;
  color: rgb(11, 31, 47);
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.9;
  padding: 2px;
  text-decoration: under;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer2 h2{
  text-align: center;
}

.box__footer2 {
  margin: auto;
}

.box__footer2 img {
  justify-content: center;
  margin-right: 20px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo__footer img {
  width: 250px;
}

.box__footer .terminos {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.box__footer .fa-brands,
.fa-solid {
  font-size: 30px;
  margin-right: 15px;
}

.box__copyright {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
  color: rgb(58, 65, 72);
  padding: 0px 40px;
}

/* Modal */
/* Corroborar Breakpoint */


@media screen and (max-width: 1000px){

  .row{
    flex-direction: column;
  }
  .col{
    flex-direction: row;
  }
}

/*MODAL CONFIRM*/
.modal-confirm {		
  color: #636363;
  width: 325px;
  margin: 30px auto;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-header {
  border-bottom: none;   
      position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px; 
}
.modal-confirm .close {
      position: absolute;
  top: -5px;
  right: -5px;
}	
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}	
.modal-confirm .icon-box {
  color: #fff;		
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
  .modal-confirm .btn {
      color: #fff;
      border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
      border: none;
  }
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}