/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* Variables */

/* Estilos generales */
form label{
    display: block;
    margin: 10px 0 0;
}

form input{
    display: block;
    padding:5px 25px;
}


/* Header */

/* Nav */
.titulo{
    
    font-family: 'Anton', sans-serif;
}
.menu{
    font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width:768px){
    .iconos{
        display: none;  
    }
    .titulo{
        margin-right:50px;}
}
/* Main */

/* Carrousel */

/* Frase-Motivadora */

/* Cursos */

/* Info */

/* FAQ */

/* Mapa */

/* Footer */
.container__xxl {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.terminos p {
    color: aliceblue;
    font-weight: 400;
}

footer {
    margin-top: auto;
    color: aliceblue;
    font-weight: 700
}

.box__footer a {
    margin-top: 10px;
    color: rgb(167, 181, 192);
    font-weight: 600
}

.box__footer a:hover {
    opacity: 0.9;
    padding: 2px;
    text-decoration: under;
}

footer {
    width: 100%;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo__footer img{
    width: 250px;
}

.box__footer .terminos {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: rgb(167, 181, 192);
    font-size: 18px;
}

.box__footer .fa-brands, .fa-solid {
    font-size: 30px;
    margin-right: 15px;
}

.box__copyright {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 40px;
    color: aliceblue;
    padding: 0px 40px;
}