/*Cusos*/
.container-cursos{
    width: 100%;
    max-width: 1200px;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:auto;
    padding-top: 30px;
    padding-bottom:30px;
}
.container-cursos .card{
    width: 250px;
    height:auto;
    border-radius: 8px;
    overflow:hidden;
    margin:20px;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.7);
    text-align: center;
    transition:all 0.25s;

}
.container-cursos .card:hover{
    transform:translateY(-15px);
    box-shadow:0 12px 16px rgba(0,0,0,0.2); 
}
.container-cursos .card p{
    padding:0 1rem;

}
.container-cursos .card a{
    font-weight:500;
    text-decoration:none;

}

.btn-primary{
    margin-bottom: 5px;
}

.modal-header{
    background-color: rgb(77, 159, 214, 0.7);
}
